@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body {
    position: relative;
}

/* ================================NAVBAR====================================== */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    /* Kad ses skroluje da ostane gore zalepljeno */
    position: sticky;
    top: 0;
    background-color: #e6cda5;
    z-index: 11;
    min-height: 100px;
}

.nav-logo {
    cursor: pointer;
    height: 80px;
}

.menu {
    /* viewport width - 40 unita sirine ekrana */
    width: 40vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu li {
    font-weight: 700;
    font-size: 1.1rem;
    /* Da nema bullet point */
    list-style: none;
}

.menu li a {
    /* Da ne bude podvuceno */
    text-decoration: none;
    color: #653239;
    transition: .5s;
    padding: 5px 10px;
    border-radius: 10px;
}

.menu li a.active,
.menu li a:hover {
    background:#fff;
}

#hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 40px;
    height: 5px;
    margin: 8px auto;
    transition: all 0.3s ease;
    background-color: white;
}

/* ================================ INDEX.HTML ====================================== */

/* ----- */

.section1 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background: url('../img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: auto;
}

.left {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 10%;
}

.text {
    background: #e6cda5; 
    opacity:0.8;
    color: rgb(9, 9, 9);
    font-size: 1.7rem;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 20px 30px;
}

.btnFirstSection {
    width: 30%;
    margin-top: 4%;
    font-size: 1.6rem;
    padding: 0.8rem 2rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    border-radius: 10px;
    border: none;
    background-color: #e6cda5;
}

.btnFirstSection:hover {
    background-color: #fff;
    cursor: pointer;
}

button a {
    text-decoration: none;
    color: #653239;
}

/* ----- */

.section2 h1 {
    font-size: 2.5rem;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    letter-spacing: 0.3rem;
}

.container2 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
    flex-wrap: wrap;
}

.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background-color: #e6cda5;
    margin-bottom: 5%;
}

.card img {
    padding: 5%;
    border-radius: 2rem;
}

.card h2 {
    padding: 10% 0;
    font-size: 1.7rem;
}

/* ----- */

.section3 {
    height: max-content;
    background-color:#e6cda5;
}

.container3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding-bottom: 5%;
    flex-wrap: wrap;
}

.section3 h1 {
    font-size: 3rem;
    text-align: center;
    letter-spacing: 0.3rem;
    padding-bottom: 5%;
    padding-top: 5%;
}

.contact {
    width: 25%;
}

.contact form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start ;
}

.input , #contact-name{
    border: none;
    border-bottom: 1px solid #000;
    width: 100%;
    line-height: 1.7rem;
    font-size: 1.3rem;
    background-color: transparent;
}

.input:focus {
    outline: none;
    border-radius: 5px;
}

.contact form label {
    font-size: 1.3rem;
    margin-top: 5%;
    margin-bottom: 2%;
}

.contact form textarea {
    resize: none;
    background-color: #cacaca;
    border: none;
    border-radius: 10px;
    outline: none;
    font-size: 1.3rem;
    padding: 5%;
}

.btnContact {
    margin: auto;
    margin-top: 5%;
    padding: 3% 20%;
    border-radius: 10px;
    border: 1px solid #000;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    cursor: pointer;
}

.btnContact:hover {
    background-color: rgb(1, 182, 16);
    color: #000;
}

.map {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: center;
}

.map h2 {
    text-align: center;
    margin-bottom: 5%;
    padding-top: 0;
    font-size: 1.4rem;
}

/* ========================== FOOTER ==================================*/

footer {
    height: max-content;
}

.footer-container {
    height: 100%;
    background-color: #2b2b28;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3% 15%;
    color: #fff;
}

.col {
    width: 25%;
    height: 50%;
}

.col-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-footer {
    width: 70%;
    height: 100%;
}

.list-footer {
    width: 67%;
}

.list-footer li {
    list-style: none;
    margin-bottom: 10px;
}

.list-footer li span {
    padding-left: 2%;
    font-size: 1.1rem;
}

.icon {
    width: 100%;
    color: #fff;
}

.full {
    padding-top: 5%;
    width: 80%;
}

.col-contact {
    flex-grow: 1.5;
}

.col-flex1 {
    display: flex;
    justify-content: center top;
    flex-direction: column;
    align-items: center;
}

.col h2 {
    margin-bottom: 10px;
}

/* ========================= O-NAMA.HTML ============================ */

.div1onama{
    margin-top: 0;
    margin-bottom: 0;
    background-image: linear-gradient(90deg, #653239 0%, #e6cda5 100%);
    height: auto;
}

.div1onama h1{
    margin: 0;
    text-align: center;
    letter-spacing: 0.3rem;
    font-size: 3.5rem;
    color: #e6cda5;
    margin-bottom: 0;
    padding: 3% 0%;
}

.container1onama{
    display: flex;
    justify-content:space-around ;
    align-items: center;
    margin-top: 0;
    margin-left: 0;
    flex-wrap: wrap;
    margin-top: 0;
    max-height: 100%;
    min-width: 100%;
    max-width: 100%;
}

.container11onama{
    width:40%;
    height: 100%;
}

.container12onama img{
  height: 15rem;
  padding-bottom: 8%;
}

#h21Div1onama{
    padding-top:4% ;
    font-size: 32px;
    color: #e6cda5;
    margin-bottom: 0%;
}

#p1Div1onama{
    font-size: 21px;
    color: #e6cda5;
    width: 45vw;
    margin-top:0px;
    padding-bottom: 8%;
}

.div2onama{
    background-image: linear-gradient(270deg, #653239 0%, #e6cda5 100%);
    margin: 0;
    margin-top: 0;
    height: auto;
}

.container2onama{
    display: flex;
    justify-content:space-evenly ;
    align-items: center;
    margin-top: 0;
    flex-wrap: wrap-reverse;

}

#h21Div2onama{
    margin-top:0 ;
    margin-bottom: 4%;
    margin-left: 20%;
    font-size: 32px;
    color: #e6cda5;
    padding-top: 15%;
}  

.container2onama img{
    position: static;
    width: 15rem;
    height: 15rem;
    border-radius: 20px;   
}

#p1Div2onama{
    margin-top:0 ;
    margin-left: 20%;
    font-size: 21px;
    width: 45vw;
    color: #e6cda5;
    padding-bottom: 50px;
    margin-bottom: 50px;
}

.div3onama{
    margin-top: 0;
    margin-bottom: 0;
    background-image: linear-gradient(90deg, #653239 0%, #e6cda5 100%);
    height: auto;
}

.container3onama {
    display: flex;
    justify-content:space-evenly ;
    align-items: center;
    margin-top: 0;
    flex-wrap: wrap;
}

.container3onama img{
    width: 15rem;
    height: 15rem;
}

#h21Div3onama{
    margin-top: 0; 
    font-size: 32px;
    color: #e6cda5;
    padding-top: 7%;   
}

#p1Div3onama{
    font-size: 21px;
    color: #e6cda5;
    width: 45vw;
    margin-bottom: 0;
    padding-bottom: 10%;
}

.div4onama{
    margin-top: 0;
    height: auto;
    background-image:linear-gradient(to top, #653239 0%, #e6cda5 100%);
}

#h21Div4onama{
    text-align: center;
    font-size: 3rem;
    margin-top: 0;
    color: #653239;
    padding: 3% 0;
}

/* ==================================== POCETAK PAKETI.HTML ======================================= */

.paketi-body {
    background-image: url("../img/soft-vintage-gradient-blur-background-with-pastel-colored-well-use-as-studio-room-product-presentation-banner.jpg");
    background-position: center;
    background-size: cover;
}

.paketi {
    text-align: center;
    letter-spacing: 0.3rem;
    font-size: 3rem;
    padding-top: 5vh;
}

.container-paketi {
    background: #e6cda5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin: 5% 15%;
    border-radius: 10px;
    height: 450px;
}

.container-paketi img {
    width: 30%;
    margin: 30% 0;
}

.desc {
    display: flex;
    justify-content: right;
    align-items: flex-start;
    flex-direction: column;
    width: 60%;
}

.desc h2 {
    font-size: 2rem;
    color: #653239;
    letter-spacing: 0.3rem  ;
}

.desc p {
    font-size: 1.4rem;
    padding: 4% 0;
    color: #653239;
}

.desc button {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 1.5% 4%;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #653239;
}

.desc button:hover {
    background: #000;
}

.desc button a {
    text-decoration: none;
    color: #e6cda5;
}

/* ================= ZAKAZI-KONSULTACIJE.HTML ======================== */
.pageKonsultacije {
    background-image: linear-gradient(90deg, #653239 0%, #e6cda5 100%);
    background-size: cover;
    background-position: absolute;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    height: min-content;
}

.inputSpace {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.hidden {
    visibility: hidden;
    height: 0;
}

input[type="text"], input[type="email"] {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    width: 60%;
    text-align: center;
    line-height: 2rem;
    letter-spacing: 0.1rem;
}

label {
    font-size: 1.2rem;
}

input {
    margin-bottom: 25px;
}

#div1,
#div2,
#div3,
#div4 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}

.next {
    border: none;
    width: 50%;
    margin: 5% 15%;
    padding: 0.4rem 0;
    border-radius: 6px;
    background-color: #e6cda5;
    color: #643239;
    letter-spacing: 0.1rem;
}

.next:hover {
    color: white;
    background-color: #643239;
    cursor: pointer;
}

#radioinputs {
    display: flex;
    flex-direction: column;
    padding-top: 3%;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 5%;
}

input[type="date"] {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    width: 50%;
    line-height: 2rem;
    font-size: 1rem;
}

.submitSpace {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 3% 0;
    margin-bottom: 0;
    background-color: transparent;
}

.submit {
    border: none;
    width: 40%;
    padding: 0.7rem;
    border: 1px solid rgb(78, 156, 58);
    border-radius: 6px;
    background-color: rgb(54, 112, 39);
    color: white;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
}

.submit:hover {
    color: white;
    background-color: rgb(50, 134, 29);
    cursor: pointer;
}

.tableSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding-bottom: 10%;
}

.tableSection h2 {
    letter-spacing: 0.1rem;
    font-size: 1.4rem;
}

.table tr th {
    width: 20%;
    padding: 1rem 0;
    font-size: 1.1rem;
}

.table tr td {
    text-align: center;
    padding: 10px;
    background-color: #e6cda5;
    border-radius: 5px;
    font-size: 1.1rem;
}

.error {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.2rem;
    padding: 2.5% 0;
    margin: 2% 0;
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 1rem;
    text-align: center;
    width: 50%;
}

/* ========== MEDIA QUERY ================= */
@media only screen and (max-width: 480px) {
    /* NAVBAR */
    .nav-logo {
        max-height: 60px;
    }
    nav {
        min-height: 80px;
    }

    .bar {
        width: 30px;
        height: 4px;
    }

    #hamburger {
        display: block;
        width: 20px;
    }

    #hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    #hamburger.active .bar:nth-child(1) {
        transform: translateY(12px) rotate(45deg);
    }

    #hamburger.active .bar:nth-child(3) {
        transform: translateY(-12px) rotate(-45deg);
    }

    .menu {
        position: fixed;
        left: -100%;
        top: 80px;
        flex-direction: column;
        width: 100%;
        text-align: center;
        background-color: white;
    }
    .menu li {
        margin: 10px 0;
    }

    .menu.active {
        left: 0;
    }

    .nav-link {
        font-size: 1.1rem;
    }

    /* FIRST SECTION */

    .text {
        font-size: 1.5rem;
        padding: 20px;
    }

    .btnFirstSection {
        font-size: 1.4rem;
        width: 75%;
    }

    /* SECOND SECTION */
    .section2 {
        padding: 50px 0 30px 0;
    }
    .container2 {
        padding: 0 20px;
    }
    .section2 h1 {
        font-size: 1.5rem;
        letter-spacing: 0;
        padding: 0 10% 10% 10%;
    }

    .card h2 {
        font-size: 1.3rem;
        padding: 20px 0;
    }

    .card img {
        max-width: 330px;
    }

    .card {
        margin-bottom: 25px;
        width: 100%;
    }

    /* THIRD SECTION */

    .section3 h1 {
        font-size: 1.7rem;
        padding-top: 20px;
    }

    .container3 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }
    .contact {
        width: 75%;
    }

    .contact form {
        align-items: center;
    }

    .contact form label {
        font-size: 1.1rem;
    }

    .input , #contact-name{
        font-size: 1rem;
        line-height: 1.2rem;
    }

    .contact form textarea {
        font-size: 1rem;
    }

    .btnContact {
        font-size: 1rem;
        letter-spacing: 0.1rem;
    }

    .map {
        margin-top: 60px;
    }

    .map iframe {
        width: 80vw;
    }

    /* FOOTER */
    .footer-container {
        flex-direction: column;
        justify-content: center;
        padding: 30px 0;
    }

    .col-contact {
        margin: 20px 0;
    }

    .img-footer {
        width: 100px;
    }

    .col {
        width: 100%;
    }

    .col-flex {
        justify-content: center;
    }

    .col-flex h2 {
        font-size: 1.2rem;
    }

    .list-footer li span {
        font-size: 1rem;
    }

    .full {
        display: flex;
        justify-content: space-around;
    }

    /* O NAMA */
    .div1onama {
        background-color: #653239;
        background-image: none;
    }
    .div1onama h1 {
        font-size: 2.5rem;
    }

    .container11onama, .container2onama {
        width: 100%;
        padding: 0 25px;
    }

    #h21Div1onama {
        font-size: 1.3rem;
        margin-bottom: 20px;
    }

    .div2onama {
        background-color: #e6cda5;
        background-image: none;
    }

    #h21Div2onama {
        color: #653239;
        font-size: 1.3rem;
        margin: 0 0 20px 0;
    }

    #p1Div1onama {
        width: 100%;
    }

    #p1Div2onama {
        width: 100%;
        margin: 0;
        color: #653239;
    }

    .div3onama {
        background-color: #653239;
        background-image: none;
    }

    .container3onama {
        width: 100%;
        padding: 0 25px;
    }

    .container31onama {
        width: 100%;
    }

    #h21Div3onama {
        font-size: 1.3rem;
        margin-bottom: 20px;
        padding-top: 15%;
    }

    #p1Div3onama {
        width: 100%;
    }

    .div4onama {
        padding-top: 20px;
    }

    #h21Div4onama {
        font-size: 1.7rem;
        color: #653239;
    }

    /* PAKETI */
    .paketi {
        font-size: 2rem;
    }

    .container-paketi {
        flex-direction: column;
        justify-content: center;
        margin: 5%;
        height: min-content;
        padding: 20px;
    }

    .container-paketi img {
        width: 80%;
        margin: 0;
        border-radius: 10px;
    }

    .desc {
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .desc h2 {
        font-size: 1.4rem;
        font-weight: 700;
        letter-spacing: 0.1rem;
        margin-top: 20px;
    }

    .desc p {
        font-size: 1rem;
    }

    .desc button {
        font-size: 1.1rem;
        padding: 10px;
    }

    /* KONSULTACIJE */
    .inputSpace {
        width: 100%;
    }

    .form {
        padding-top: 30px;
    }

    #div1, #div2, #div3, #div4 {
        width: 100%;
    }

    #radioinputs label {
        font-size: 1rem;
        line-height: 1.1rem;
    }

    .inputSpace label {
        font-size: 1.1rem;
    }

    #div4 button {
        width: 50%;
        font-size: 1.1rem;
    }

    .tableSection h2 {
        font-size: 1.1rem;
        letter-spacing: 0.1rem;
    }

    .table tr th {
        font-size: 1rem;
    }

    .table tr td {
        font-size: 0.8rem;
        padding: 5px;
    }
}

@media only screen and (min-width: 480px)and (max-width: 768px) {
    /* NAVBAR */
    nav {
        min-height: 100px;
    }

    #hamburger {
        display: block;
        width: 20px;
        font-size: 3rem;
    }
    
    #hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    #hamburger.active .bar:nth-child(1) {
        transform: translateY(13px) rotate(45deg);
    }

    #hamburger.active .bar:nth-child(3) {
        transform: translateY(-13px) rotate(-45deg);
    }

    .menu {
        position: fixed;
        left: -100%;
        top: 100px;
        gap: 0;
        flex-direction: column;
        width: 100%;
        text-align: center;
        background-color: white;
    }
    .menu li {
        margin: 16px 0;
    }

    .menu.active {
        left: 0;
    }

    /* INDEX */
    .btnFirstSection {
        width: 60%;
        font-size: 1.2rem;
    }

    .section2 h1 {
        font-size: 1.6rem;
        letter-spacing: 0.1rem;
    }

    .container2 {
        justify-content: center;
    }

    .container3 {
        padding: 0;
    }

    .section3 h1 {
        font-size: 1.7em;
    }

    .map {
        margin: 60px 0;
    }

    .map iframe {
        width: 80vw;
    }

    .contact {
        width: 75%;
    }

    /* FOOTER */
    .footer-container {
        flex-direction: column;
        justify-content: center;
        padding: 30px 0;
    }

    .col-contact {
        margin: 20px 0;
    }

    .img-footer {
        width: 100px;
    }

    .col {
        width: 100%;
    }

    .col-flex {
        justify-content: center;
    }

    .col-flex h2 {
        font-size: 1.2rem;
    }

    .list-footer li span {
        font-size: 1rem;
    }

    .full {
        display: flex;
        justify-content: space-around;
    }

    /* O NAMA */
    .div1onama {
        background-color: #653239;
        background-image: none;
    }
    .div1onama h1 {
        font-size: 2.5rem;
    }

    .container11onama, .container2onama {
        width: 100%;
        padding: 0 25px;
    }

    #h21Div1onama {
        font-size: 1.3rem;
        margin-bottom: 20px;
    }

    .div2onama {
        background-color: #e6cda5;
        background-image: none;
    }

    #h21Div2onama {
        color: #653239;
        font-size: 1.3rem;
        margin: 0 0 20px 0;
    }

    #p1Div1onama {
        width: 100%;
    }

    #p1Div2onama {
        width: 100%;
        margin: 0;
        color: #653239;
    }

    .div3onama {
        background-color: #653239;
        background-image: none;
    }

    .container3onama {
        width: 100%;
        padding: 0 25px;
    }

    .container31onama {
        width: 100%;
    }

    #h21Div3onama {
        font-size: 1.3rem;
        margin-bottom: 20px;
        padding-top: 15%;
    }

    #p1Div3onama {
        width: 100%;
    }

    .div4onama {
        padding-top: 20px;
    }

    #h21Div4onama {
        font-size: 1.7rem;
        color: #653239;
    }

    /* PAKETI */
    .paketi {
        font-size: 2rem;
    }

    .container-paketi {
        flex-direction: column;
        justify-content: center;
        margin: 5%;
        height: min-content;
        padding: 20px;
    }

    .container-paketi img {
        width: 80%;
        margin: 0;
        border-radius: 10px;
    }

    .desc {
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .desc h2 {
        font-size: 1.4rem;
        font-weight: 700;
        letter-spacing: 0.1rem;
        margin-top: 20px;
    }

    .desc p {
        font-size: 1rem;
    }

    .desc button {
        font-size: 1.1rem;
        padding: 10px;
    }

    /* KONSULTACIJE */
    .inputSpace {
        width: 100%;
    }

    .form {
        padding-top: 30px;
    }

    #div1, #div2, #div3, #div4 {
        width: 100%;
    }

    #radioinputs label {
        font-size: 1rem;
        line-height: 1.1rem;
    }

    .inputSpace label {
        font-size: 1.1rem;
    }

    #div4 button {
        width: 50%;
        font-size: 1.1rem;
    }

    .tableSection h2 {
        font-size: 1.1rem;
        letter-spacing: 0.1rem;
    }

    .table tr th {
        font-size: 1rem;
    }

    .table tr td {
        font-size: 0.8rem;
        padding: 5px;
    }

}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    /* NAVBAR */
    nav {
        min-height: 100px;
    }

    #hamburger {
        display: block;
        width: 20px;
        font-size: 3rem;
    }
    
    #hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    #hamburger.active .bar:nth-child(1) {
        transform: translateY(13px) rotate(45deg);
    }

    #hamburger.active .bar:nth-child(3) {
        transform: translateY(-13px) rotate(-45deg);
    }

    .menu {
        position: fixed;
        left: -100%;
        top: 100px;
        gap: 0;
        flex-direction: column;
        width: 100%;
        text-align: center;
        background-color: white;
    }
    .menu li {
        margin: 16px 0;
    }

    .menu.active {
        left: 0;
    }

    /* INDEX */
    .btnFirstSection {
        width: 60%;
        font-size: 1.4rem;
    }

    .section2 h1 {
        font-size: 1.6rem;
        letter-spacing: 0.1rem;
    }

    .container2 {
        justify-content: center;
    }

    .container3 {
        padding: 0;
    }

    .section3 h1 {
        font-size: 1.7em;
    }

    .map {
        margin: 60px 0;
    }

    .map iframe {
        width: 80vw;
    }

    .contact {
        width: 75%;
    }

    /* PAKETI */
    .container-paketi {
        margin: 5%;
        padding: 20px;
        flex-direction: column;
        justify-content: center;
        height: min-content;
    }

    .container-paketi img {
        width: 80%;
        margin: 0;
        border-radius: 10px;
    }

    .desc {
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .desc h2 {
        font-size: 1.8rem;
        font-weight: 700;
        letter-spacing: 0.1rem;
        margin-top: 20px;
    }

    .desc p {
        font-size: 1.3rem;
    }

    .desc button {
        font-size: 1.3rem;
        padding: 20px;
    }

    /* KONSULTACIJE */
    

}

@media only screen and (min-width: 1024px) and (max-width: 1200px) {
    /* NAVBAR */
    nav {
        min-height: 100px;
    }

    #hamburger {
        display: block;
        width: 20px;
        font-size: 3rem;
    }
    
    #hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    #hamburger.active .bar:nth-child(1) {
        transform: translateY(13px) rotate(45deg);
    }

    #hamburger.active .bar:nth-child(3) {
        transform: translateY(-13px) rotate(-45deg);
    }

    .menu {
        position: fixed;
        left: -100%;
        top: 100px;
        gap: 0;
        flex-direction: column;
        width: 100%;
        text-align: center;
        background-color: white;
    }
    .menu li {
        margin: 16px 0;
    }

    .menu.active {
        left: 0;
    }
}